html {
    font-family: Helvetica, Arial, sans-serif;
    white-space: nowrap;
}

@media (orientation: portrait) {
    html {
        font-size: max(16px, min(5.5vw, 2.75vh));
    }
}

@media (orientation: landscape) {
    html {
        font-size: max(16px, min(2.75vw, 5.5vh));
    }
}

body {
    margin: 0;
}

form {
    height: 100vh;
    display: grid;
}

@media (orientation: portrait) {
    form {
        grid-template-rows: 1fr 1fr;
    }
}

@media (orientation: landscape) {
    form {
        grid-template-columns: 1fr 1fr;
    }
}